<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/dashboard}">🏥 Quản Lý Bệnh Viện</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dashboard}">
                            <i class="fas fa-home"></i> Trang Chủ
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/doctor}">
                            <i class="fas fa-user-md"></i> Bác Sĩ
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/patients}">
                            <i class="fas fa-bed"></i> Bệnh Nhân
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/appointments}">
                            <i class="fas fa-calendar-alt"></i> Lịch Hẹn
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/medicines}">
                            <i class="fas fa-tablets"></i> Thuốc
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>