<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản lý Bệnh viện</title>
    <th:block th:replace="fragments/styles :: styles"></th:block>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div th:replace="fragments/header :: header"></div>
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div th:replace="${content}"></div>
                </div>
            </section>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>